<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head") %>

<body class="Site">
    <div class="Site-content">
        <button class="scroll bottom"><span class="material-icons">
                keyboard_arrow_down
            </span></button>
        <a href="#" class="scroll top"><span class="material-icons">
                keyboard_arrow_up
            </span></a>
        <div class="wrapper">
            <h1 class="search-results"><%= message %></h1>
            <a href="/">Search Again</a>
            <p class="total-results">Search results: <%= totalItems || `No results found. Try again!` %></p>
            <p class="total-pages">Total pages: <%= totalPages || `No pages found!` %></p>
            <form id="results" action="/results" method="GET">
                <input type="text" placeholder="Search Again" name="search" autofocus required>
                <input type="number" name="page" placeholder="Enter Page" required>
                <button type="submit" name="results-submit">Submit</button>
            </form>
            <% if (data["Search"]) { %>
                <% data["Search"].forEach((movie) => { %>
                <ul class="container">
                    <li><img src="<%= movie["Poster"] %>" /></li>
                    <li>Movie: <%= movie["Title"] %></li>
                    <li>Year: <%= movie["Year"] %></li>
                    <li>Type: <%= movie["Type"] %></li>
                    <li>Movie ID: <%= movie["imdbID"] %></li>
                </ul>
            <% }); %>
            <% } %>
        </div>
    </div>

    <%- include ("../partials/footer") %>
    <script src="scripts/js/results.js"></script>
</body>

</html>